<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Склад</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <th:block th:replace="navbar :: bootstrap">...</th:block>
</head>
<body>
<th:block th:replace="navbar :: header">...</th:block>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Название</th>
        <th scope="col">Кол-во товаров</th>
        <th scope="col">Описание</th>
        <th:block th:if="${isRegularUser} == null">
            <th scope="col">Действия</th>
        </th:block>
    </tr>
    </thead>

    <th:block th:each="category : ${categoryList}">
        <tr>
            <!--Формы ввода-->
            <td th:if="${editableCategory} == ${category.getName()}">
                <form method="post" th:object="${newCategory}">
                    <input class="form-control" name="name" th:value="${category.name}"/>
                    Описание:<textarea class="form-control" name="description"
                                       th:text="${category.description}"></textarea>
                    <button class="btn btn-success" style="float:left" type="submit">Обновить</button>
                </form>
            </td>
            <!--__________________________________-->

            <!--Ссылка на категорию (если это не изменяемая категория)-->
            <td th:unless="${editableCategory} == ${category.getName()}">
                <a th:href="${'products?category=' + category.name}" th:text="${category.name}"></a>
            </td>
            <!--__________________________________-->

            <!--Кол-во видов продуктов в категории-->
            <td th:text="${category.countOfProducts}"></td>
            <!--__________________________________-->

            <!--Описание категории (если это не изменяемая категория)-->
            <td th:text="${category.getAbbreviatedDescription()}"
                th:unless="${editableCategory} == ${category.getName()}"></td>
            <!--__________________________________-->

            <!--Пустой столбец для изменяемой категории-->
            <td th:if="${editableCategory} == ${category.getName()}">
            </td>
            <!--__________________________________-->

            <!--Редактировать и удалить-->
            <td th:if="${isRegularUser} == null">
                <form method="get">
                    <button class="btn btn-primary" name="edit" th:value="${category.name}" type="submit">
                        Редактировать
                    </button>

                    <button class="btn btn-danger" name="remove" onclick="return confirm('Вы уверены?');"
                            th:value="${category.name}"
                            type="submit">Удалить
                    </button>
                </form>
            </td>
            <!--__________________________________-->
        </tr>
    </th:block>
</table>

<div class="container" id="bottomContainer">

    <th:block th:if="${isRegularUser} == null" th:unless="${addCategory}">
        <form action="#bottomContainer" method="get">
            <button class="btn btn-success" name="addCategory" type="submit">Добавить новую категорию</button>
        </form>
    </th:block>

    <th:block th:if="${isDuplicateCategory} != null">
        <div class="alert alert-danger" role="alert">Категория с таким названием уже существует</div>
    </th:block>

    <th:block th:if="${addCategory} == true">
        <form action="#" method="post" th:action="@{/categories}" th:object="${newCategory}">
            <a class="btn btn-outline-secondary" href="/categories#bottomContainer">Скрыть</a>
            <div class="container">
                <p>
                    Название категории:
                    <input class="form-control" th:field="*{name}" type="text">
                </p>
                <p>
                    Описание категории:
                    <textarea class="form-control" th:field="*{description}"></textarea>
                </p>
                <button class="btn btn-success" name="add" type="submit">Добавить</button>
            </div>
        </form>
    </th:block>
</div>

</body>
</html>