<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Склад</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <th:block th:replace="navbar :: bootstrap">...</th:block>
</head>
<body>
<th:block th:replace="navbar :: header">...</th:block>
<table class="table">
    <thead>
    <tr>
        <th scope="col">Название</th>
        <th scope="col">Кол-во товаров</th>
        <th scope="col">Описание</th>
        <th:block th:if="${regularUser} == null">
            <th scope="col">Действия</th>
        </th:block>
    </tr>
    </thead>

    <th:block th:each="category : ${categoryList}">
        <tr>
            <td><a th:href="${'products?category=' + category.name}" th:text="${category.name}">link to category</a>
            </td>
            <td th:text="${category.countOfProducts}">count of products</td>
            <td th:if="${editableCategory} == ${category.getName()}">
                <form method="post" th:object="${category}">
                    <textarea class="form-control" th:field="*{description}"
                              th:text="${category.getDescription()}"></textarea>
                    <button class="btn btn-success" style="float:right" type="submit">Обновить</button>
                </form>
            </td>

            <td th:text="${category.getAbbreviatedDescription()}"
                th:unless="${editableCategory} == ${category.getName()}">description of category
            </td>
            <td th:if="${regularUser} == null">
                <form method="get">
                    <button class="btn btn-primary" name="edit" th:value="${category.name}" type="submit">
                        Редактировать
                    </button>
                    <button class="btn btn-danger" name="remove" onclick="return confirm('Вы уверены?');"
                            th:value="${category.name}"
                            type="submit">Удалить
                    </button>
                </form>
            </td>

        </tr>
    </th:block>

</table>

<div class="container" id="bottomContainer">

    <th:block th:if="${regularUser} == null" th:unless="${addCategory}">
        <form action="#bottomContainer" method="get">
            <button class="btn btn-success" name="addCategory" type="submit">Добавить новую категорию</button>
        </form>
    </th:block>

    <th:block th:if="${addCategory} == true">
        <form action="#" method="post" th:action="@{/categories}" th:object="${category}">
            <a class="btn btn-outline-secondary" href="/categories#bottomContainer">Скрыть</a>
            <div class="container">
                <p>
                    Название категории:
                    <input class="form-control" th:field="*{name}" type="text">
                </p>
                <p>
                    Описание категории:
                    <textarea class="form-control" th:field="*{description}"></textarea>
                </p>
                <button class="btn btn-success" name="add" type="submit">Добавить</button>
            </div>
        </form>
    </th:block>
</div>

</body>
</html>