<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Склад</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <th:block th:replace="navbar :: bootstrap">...</th:block>
</head>
<body>
<th:block th:replace="navbar :: header">...</th:block>

<div class="container">
    <form action="#" enctype="multipart/form-data" method="post" th:action="@{/editProduct}" th:object="${product}">
        Категория: <input class="form-control" th:field="*{category}" th:value="*{getCategory()}" type="text"/> <br>
        Название: <input class="form-control" th:field="*{name}" th:value="*{getName()}" type="text"/> <br>
        Описание: <textarea class="form-control" th:field="*{description}" th:text="*{description}"></textarea> <br>
        Цена: <input class="form-control" step="0.1" th:field="*{price}" th:value="*{price}" type="number"/> <br>
        Количество: <input class="form-control" th:field="*{amount}" th:value="*{amount}" type="number"/> <br>
        <div class="form-group">
            <label for="imageForm">Изображение:</label>
            <input class="form-control-file" id="imageForm" name="image" type="file">
        </div>
        <button class="btn btn-success" type="submit">Добавить</button>
    </form>
</div>


</body>